#about {
  padding: 80px 8%;
  background-color: rgb(30, 30, 30);
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.about-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.about-title {
   font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: #00bcd4;
}



.about-text {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #ccc;
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
}

.about-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.about-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px 25px;
  border-radius: 16px;
  width: 280px;
  text-align: center;
  transition: 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.about-card:hover {
  transform: translateY(-8px);
  background: rgba(255, 255, 255, 0.12);
}

.card-icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #00bcd4;
}

.about-card h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: #fff;
}

.about-card p {
  color: #ccc;
  font-size: 0.95rem;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .about-cards {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {

  .about-title {
    font-size: 1.6rem;
  }

  .about-text {
    font-size: 0.95rem;
    line-height: 1.6;
    max-width: 90%;
  }

  .card-icon {
    font-size: 2rem;
  }

  .about-card {
    width: 90%;
    padding: 20px;
  }

  .about-card h3 {
    font-size: 1.1rem;
  }

  .about-card p {
    font-size: 0.85rem;
  }

  .about-cards {
    flex-direction: column;
    align-items: center;
  }
}
